.block-content{ 
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 970px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    margin-left: 70px;
    font-size: 18px;
    color: lightgray;
    /*text-align: justify;*/
    font-family: "Arial","Helvetica","sans-serif";
}
strong{
    font-size: 23px;
    color: #ff7200;
}

.aside a, .aside a, .aside a:visited, .aside a:visited .aside li{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-family: "Arial","Helvetica","sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    line-height: 8px;
    display: block;
    padding: 0.1em 0 .75em 0.9em;
}
.aside a {
    text-decoration: none;
    color: rgba(9,7,7,.7);
}

.nav-section-label{
    text-transform: uppercase;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2em;
    color: #ff7200;
    margin-bottom: .5em;
    list-style: none;
}
.default li {
    margin-right: 30px;
}

.p a {
    color: lightgray;
    text-decoration: none;
}

aside {
  width: 25%;
  padding-left: 580px;
  margin-left: 580px;
  padding-top: 80px;
  float: right;
  background-color: transparent;
  position: fixed;
}


*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    /* background-image: url("C:\Users\amish\Downloads\sobaka-ulitsa-drug.jpg"); */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
    background-image:  linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url("temp/1st\ image.jpeg");
    /*background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.5)), url("C:/Users/amish/Downloads/sobaka-ulitsa-drug.jpg");*/
    /*background: #525252;*/
}
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 259px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 30px;
    font-family: Arial;
    padding-left: 64px;
    float: left;
    padding-top: 12px;
    margin-top: 9px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.menu-list{
    float: left;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: nowrap;
}

.menu-list li{
    list-style: none;
    margin-left: 85px;
    margin-top: 30px;
    font-size: 14px;
}

.menu-list li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu-list li a:hover{
    color: #ff7200;
}

.search{
    width: 300px;
    float: left;
    margin-left: 380px;
    padding-left: 110px;
    margin-top: 7px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


.dropbtn{
    border:none;
    cursor:pointer;
    padding:4px;
    background-color:transparent;
    font-weight:bold;
    color:white;
    font-size: 14px;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color:#000000;
  min-width: 120px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:85px;   
}
.sub-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sub-menu a:hover {
    background-color:#ff7200;
    color: black;
}
.dropdown:hover .sub-menu {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #000000;
}
